@mixin primaryButton {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1.2rem;
    box-shadow: inset 2px 2px 2px 0px rgb(255 255 255 / 17%), 7px 7px 20px 0px rgb(0 0 0 / 7%), 4px 4px 5px 0px rgb(0 0 0 / 7%);
}

@mixin circleBox {
    border-radius: 50%;
    overflow: hidden;
}