@mixin primaryButton {
    display: inline-block;
    padding: 8px 30px;
    border-radius: 30px;
    font-weight: 400;
    font-size: 1.2rem;
    box-shadow: inset 2px 2px 2px 0px rgb(255 255 255 / 17%), 7px 7px 20px 0px rgb(0 0 0 / 7%), 4px 4px 5px 0px rgb(0 0 0 / 7%);
}

@mixin circleBox {
    border-radius: 50%;
    overflow: hidden;
}

@mixin inputField {
    border-radius: 10px;
    background: #dfe9f5;
    border: none;
    height: 40px;
    font-size: 14px;
}

@mixin labelPosition {
    position: absolute;
    top: 6px;
    left: 12px;
    transition: 0.2s ease all;
}

@mixin inputFieldFocus {
    top: -18px;
    left: 8px;
    background: #fff;
    font-size: 12px;
    padding: 0px 8px;
    border-radius: 5px;
    font-weight: 500;
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}