@import '/styles/Mixin';
$FontSmall: 14px;
$NormalFont: 1.4rem;
$PrimaryColor: #0074d7;
$grayColor: #6a6a6a;
$SectionColor: rgba(4, 135, 243, .04);
$BoxShadow: 0 12px 10px -6px #00000026;
$TransitionCommon: all .3s ease-in-out;