html,
body {
    padding: 0;
    margin: 0;
    font-family: Ubuntu, sans-serif;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.modalForm .modal-content {
    width: 90%;
    margin: auto;
}

.mediaPresence_slider {
    padding-top: 65px !important;
    .swiper-button-prev {
        left: auto;
        right: 65px;
        top: 30px;
        width: 35px;
        height: 35px;
        border: 1px solid;
        border-radius: 50px;
        &::after {
            font-size: 18px;
        }
    }
    .swiper-button-next {
        top: 30px;
        width: 35px;
        height: 35px;
        border: 1px solid;
        border-radius: 50px;
        &::after {
            font-size: 18px;
        }
    }
}

.modal-backdrop {
    background-image: linear-gradient(to right bottom, #0074d7, #0096eb, #00b5ef, #00d2e6, #12ebd8);
    &.show {
        opacity: 1;
    }
}

@media (max-width: 991px) {
    h1 {
        font-size: 1.6rem;
    }
}