html,
body {
    padding: 0;
    margin: 0;
    font-family: Ubuntu, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.swiper-wrapper .swiper-slide {
    text-align: center;
    margin: 0 3px !important;
    border: 1px solid #ddd;
}