.herobanner {
    background-size: cover;
    background-position: center;
    padding: 65px 0;
    background-attachment: fixed;
    .herocontent {
        display: flex;
        align-items: center;
        height: 100%;
        padding-right: 45px;
    }
    .heroImgFrame {
        height: 100%;
        position: absolute;
        bottom: 13%;
        right: -22%;
    }
    .heroImg {
        position: relative;
        .dotsPettern {
            background-image: radial-gradient(#3f78e0 2px, transparent 2.5px);
            background-size: 0.8rem 0.9rem;
            height: 154px;
            width: 167px;
            position: absolute;
            top: -36px;
            left: -42px;
        }
        .bgShad {
            background: #dbeeff;
            top: 30px;
            left: 30px;
            width: 90%;
            height: 100%;
            position: absolute;
            border-radius: 5px;
        }
    }
    .buttonMain {
        @include primaryButton;
        background: transparent;
        color: $PrimaryColor;
        border: 2px solid $PrimaryColor;
        &:hover {
            background: $ButtonBG;
            color: #fff;
            border-color: transparent;
        }
    }
    p {
        font-size: $NormalFont;
    }
}

.heroCardIcons {
    background-color: $SectionColor;
    padding-top: 65px;
    .heroIconsRow {
        background: #fff;
        border-radius: 12px;
        box-shadow: 10px 10px $PrimaryColor;
        border: 1px solid #eee;
    }
}

.popFormImg {
    width: 45%;
}

.leadForm {
    padding: 0 35px 18px;
    width: 55%;
    .labelAnimation {
        @include labelPosition;
        background-color: #dfe9f5;
    }
    .inputCustom {
        @include inputField;
        &:valid+.labelAnimation {
            @include inputFieldFocus;
        }
        &:focus+.labelAnimation {
            @include inputFieldFocus;
        }
    }
    .modalButton {
        @include primaryButton;
        background: $ButtonBG;
    }
}

.modalHeader {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: 80px;
        border-bottom: 2px solid #027bdb;
        bottom: -10px;
    }
}

// ------------------------ //
@media (max-width: 991px) {
    .herobanner {
        .row {
            flex-direction: row-reverse;
        }
        padding-top: 85px;
        p,
        .buttonMain {
            font-size: 1rem;
        }
        .herocontent {
            padding-right: 0 !important;
            padding-left: 35px;
        }
    }
}

// ------------------------ //
@media (max-width: 767px) {
    .herobanner {
        .heroImg {
            top: 0;
            text-align: center;
            .dotsPettern {
                display: none;
            }
            .bgShad {
                display: none;
            }
        }
    }
}

// ------------------------ //
@media (max-width: 575px) {
    .herobanner {
        padding-top: 30px;
        padding-bottom: 30px;
        .columnReverse {
            flex-direction: column-reverse !important;
            .heroImg {
                margin-bottom: 30px;
            }
            .herocontent {
                padding-left: 0 !important;
            }
        }
    }
    .heroCardIcons {
        padding-top: 35px;
    }
}