.herobanner {
    background-image: url(/sliderHome.png);
    background-size: cover;
    background-position: center;
    padding: 45px 0;
    background-attachment: fixed;
    .herocontent {
        display: flex;
        align-items: center;
        height: 100%;
    }
    .heroImg {
        position: relative;
        .dotsPettern {
            background-image: radial-gradient(#3f78e0 2px, transparent 2.5px);
            background-size: 0.8rem 0.9rem;
            height: 154px;
            width: 167px;
            position: absolute;
            top: -36px;
            left: -42px;
        }
        .bgShad {
            background: #f1f5fd;
            top: 30px;
            left: 30px;
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }
    .buttonMain {
        @include primaryButton;
        color: #fff;
        background-color: $PrimaryColor;
    }
    p {
        font-size: $NormalFont;
    }
}