.TalkExpertsText {
    h2 {
        color: $PrimaryColor;
    }
    .expertButton {
        background: $ButtonBG;
    }
}

.expertsMain {
    display: flex;
    flex-wrap: wrap;
    .expertsMain {
        width: 31%;
        margin: 3px;
    }
}

@media (max-width: 576px) {
    .TalkExpertsText {
        padding: 30px 0;
    }
}