.topUniversity {
    padding: 80px 0;
}

.topUniversityLogo {
    width: 20%;
    border: 1px solid #ddd;
    margin: 5px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}