.valuecard {
    background: $SectionColor;
    box-shadow: $BoxShadow;
    text-align: center;
    border-radius: 5px;
    padding: 35px 15px;
    height: 260px;
    border: 1px solid #eee;
    transition: $TransitionCommon;
    &:hover {
        background: $PrimaryColor;
        color: #fff;
    }
    .valuecardImg {
        margin: auto;
        width: 80px;
        height: 80px;
        @include circleBox;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    h6 {
        margin: 20px 0 12px;
    }
    p {
        margin: 0;
        font-size: .9rem;
    }
}

.valueCardActive {
    background: $PrimaryColor;
    color: #fff;
}